<mat-form-field appearance="fill" class="select-filtro">
    <mat-label>Filter by Region</mat-label>
    <mat-select [(ngModel)]="filtro" (ngModelChange)="selectFiltro($event)">
        <mat-option>Filter by Region</mat-option>
        <mat-option *ngFor="let region of listadoRegiones" [value]="region">
            {{region}}
        </mat-option>
    </mat-select>
</mat-form-field>