header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    color: var(--color-header);
    background: var(--background-header);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: calc(100% - 80px);
    top: 0;
    z-index: 10;
    .title {
        font-size: 30px;
    }
    .mode {
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
            width: 22px;
        }
    }
}
