<header>
    <div class="title">
        <b>Where in the world?</b>
    </div>
    <div class="mode" (click)="CambiarTema()">
        <img src="assets/icons/moon-outline.svg" alt="">
        <b>Dark Mode</b>
    </div>
</header>