<app-header></app-header>
<div id="countries">
    <div class="container-filtro">
        <app-buscador
            (changeBuscador)="nombreBuscador = $event"
        ></app-buscador>
        <app-filtro
            [listadoRegiones]="listadoRegiones"
            (changeBuscador)="regionBuscador = $event"
        ></app-filtro>
    </div>
    <div class="container-list">
        <div class="card-pais" *ngFor="let pais of listadoPaises | filtroCountries : nombreBuscador | filtroRegion : regionBuscador"  [routerLink]="['/country', pais.name]">
            <div class="flag" style="background-image: url({{pais.flag}});"></div>
            <div class="content">
                <b class="title">{{pais.name}}</b>
                <p><span>Pupulation:</span>{{pais.population}}</p>
                <p><span>Region:</span>{{pais.region}}</p>
                <p><span>Capital:</span>{{pais.capital}}</p>
            </div>
        </div>
    </div>
</div>