#countries {
    background-color: var(--background-body);
    width: 100%;
    margin-top: 61px;
    .container-filtro {
        padding: 50px 50px 0 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        padding: 0 50px;
        .card-pais {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            width: 320px;
            margin: auto auto 30px auto;
            background-color: var(--background-cards);
            .flag {
                height: 150px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 10px 10px 0 0;
            }
            .content {
                color: var(--color-cards);
                padding: 20px 25px;
                .title {
                    font-size: 20px;
                }
                p {
                    margin: 2px 0;
                    span {
                        font-family: NunitoSans-SemiBold;
                    }
                }
                p:nth-child(2) {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #countries {
        .container-filtro {
            flex-direction: column;
        }
        .container-list {
            justify-content: space-evenly;
        }
    }
}
