<mat-form-field class="input-search" appearance="outline">
    <mat-label>Search for a country...</mat-label>
    <input matInput [(ngModel)]="nombre" (ngModelChange)="enviarFiltro($event)" placeholder="Search for a country..." value="">
</mat-form-field>