<app-header></app-header>
<div id="detalle">
    <div class="container-back">
        <button mat-raised-button class="back" routerLink="/countries"><img style="width: 22px; margin-right: 10px;" src="assets/icons/arrow-back-outline.svg" alt="">Back</button>
    </div>  
    <div class="container-country">
        <div class="flag">
            <img [src]="country.flag" alt="">
        </div>
        <div class="country">
            <div class="titulo">
                <b>{{country.name}}</b>
            </div>
            <div class="info">
                <div class="col1">
                    <p><b>Native Name:</b>&nbsp;{{country.nativeName}}</p>
                    <p><b>Population:</b>&nbsp;{{country.population}}</p>
                    <p><b>Region:</b>&nbsp;{{country.region}}</p>
                    <p><b>Sub Region:</b>&nbsp;{{country.subregion}}</p>
                    <p><b>Capital:</b>&nbsp;{{country.capital}}</p>
                </div>
                <div class="col2">
                    <p><b>Top Level Domain:</b>&nbsp;<span *ngFor="let top of country.topLevelDomain">{{top}} </span></p>
                    <p><b>Currencies:</b>&nbsp;<span *ngFor="let currency of country.currencies">{{currency.name}}, </span></p>
                    <p><b>languages:</b>&nbsp;<span *ngFor="let lang of country.languages">{{lang.name}}, </span></p>
                </div>
            </div>
            <div class="border">
                <b>Border Countries:</b><span *ngFor="let border of country.borders">{{border}}</span>
            </div>
        </div>
    </div>

</div>
