#detalle {
    background-color: var(--background-body);
    width: 100%;
    margin-top: 61px;
    font-family: NunitoSans-Light;
    height: 100vh;
    .container-back {
        padding: 50px 50px 0 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .back {
            font-family: NunitoSans-Light;
            background-color: var(--background-header);
            color: var(--color-header);
        }
    }
    .container-country {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        .flag {
            width: 48%;
            img {
                width: 100%;
            }
        }
        .country {
            color: var(--color-header);
            width: 47%;
            display: flex;
            flex-direction: column;
            .titulo {
                font-size: 40px;
            }
            .info {
                display: flex;
                align-items: flex-start;
                .col1 {
                }
                .col2 {
                }
            }
            .border {
                display: flex;
                margin-top: 30px;
                span {
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                    border-radius: 3px;
                    margin: 0 10px;
                    padding: 0 10px;
                    background-color: var(--background-header);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #detalle {
        .container-country {
            flex-direction: column;
            .flag {
                width: 100%;
            }
            .country {
                width: 100%;
                .titulo {
                    font-size: 40px;
                }
                .info {
                    .col1 {
                    }
                    .col2 {
                    }
                }
            }
        }
    }
}
