/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: NunitoSans-Light;
    src: url(assets/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

@font-face {
    font-family: NunitoSans-Bold;
    src: url(assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: NunitoSans-SemiBold;
    src: url(assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

.mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
    background-color: var(--background-header) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--background-header) !important;
}

.mat-form-field-label {
    color: var(--color-header) !important;
}

.mat-form-field-flex {
    color: var(--color-header) !important;
    background-color: var(--background-header) !important;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "NunitoSans-Light", "Helvetica Neue", sans-serif;
}

b {
    font-family: "NunitoSans-Bold";
}


.mat-progress-spinner {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #00000030;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

.mat-progress-spinner svg {
    position: initial !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: hsl(0, 0%, 98%) !important;
}